apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - repo: https://charts.jetstack.io
    name: cert-manager
    releaseName: cert-manager
    version: v1.19.2
    namespace: cert-manager
    includeCRDs: true
    valuesInline:
      crds:
        enabled: true
      extraArgs:
        - --dns01-recursive-nameservers-only
        - --dns01-recursive-nameservers=8.8.8.8:53\,1.1.1.1:53

resources:
  - namespace.yaml
  - secrets/cloudflare.yaml
