apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

helmCharts:
 - repo: https://istio-release.storage.googleapis.com/charts
   name: base
   releaseName: cluster-istio-base
   version: 1.28.3
   valuesInline:
     profile: ambient

 - repo: https://istio-release.storage.googleapis.com/charts
   name: cni
   releaseName: cluster-cni
   version: 1.28.3
   valuesInline:
     profile: ambient
     # https://istio.io/latest/docs/ambient/install/platform-prerequisites/#k3s
     global:
        platform: k3s

 - repo: https://istio-release.storage.googleapis.com/charts
   name: istiod
   releaseName: cluster-istiod
   version: 1.28.3
   valuesInline:
     profile: ambient

 - repo: https://istio-release.storage.googleapis.com/charts
   name: ztunnel
   releaseName: cluster-ztunnel
   version: 1.28.3
   valuesInline:
     profile: ambient



resources:
- namespace.yaml
- github.com/kubernetes-sigs/gateway-api/config/crd?ref=v1.4.1


patches:
  - path: argocd_patch.yaml
  - patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: ztunnel
      spec:
        template:
          spec:
            containers:
              - name: istio-proxy
                env:
                  - name: ZTUNNEL_CPU_LIMIT
                    valueFrom:
                      resourceFieldRef:
                        divisor: '0'
    target:
      kind: DaemonSet
      name: ztunnel
