apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

helmCharts:
 - repo: https://istio-release.storage.googleapis.com/charts
   name: base
   version: 1.28.3
 - repo: https://istio-release.storage.googleapis.com/charts
   name: cni
   version: 1.28.3
   valuesInline:
     profile: ambient
     global.platform: k3s
 - repo: https://istio-release.storage.googleapis.com/charts
   name: istiod
   version: 1.28.3
   valuesInline:
     profile: ambient
 - repo: https://istio-release.storage.googleapis.com/charts
   name: ztunnel
   version: 1.28.3
   valuesInline:
     profile: ambient



resources:
- namespace.yaml
- github.com/kubernetes-sigs/gateway-api/config/crd?ref=v1.4.1

