apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  generation: 187
  labels:
    infra-service: argocd
  name: infrastructure-appset
  namespace: argocd
spec:
  destination:
    name: in-cluster
  project: default
  source:
    path: appset/infrastructure
    repoURL: git@github.com:tallen12/gitops_k3s_infra.git
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 5
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
